footer {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    z-index: 10;
    background-color: #1E1E1E;
    padding: 20px;
    text-align: center;
    color: #fff;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    min-width: 300px;
    height: 500px;
}

.footer-adjuster {
    padding: 10px;
    gap: 10px;
}

.footer-adjuster img {
    height: 60px;
}

.footer-adjuster h2 {
    font-size: 1em;
    margin: 10px 0;
}

.socialMedia-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 10px 0 20px 0;
}

.socialMedia-container a div{
    background-color: var(--principalYellow);
    border-radius: 10px;
}

.socialMedia-container a div:hover{
    background-color: transparent;
}

.socialMedia-container a div .socialMedia-img{
    width: 35px;
    height: 35px;
    padding: 5px;
}

.new-ul{
    display: inline-flex;
    gap: 10px;
}

.new-ul li:hover{
    text-decoration: underline;
}

.footer-absolute{
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
    position: absolute;
    bottom: 0;
    left: 10px;
}

.socialMedia-container h4{
    line-height: 35px;
}
