.catalog-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));

    justify-content: center; /* Centra los elementos de la grilla horizontalmente */
    justify-items: center; /* Asegura que cada elemento dentro de una celda de grilla esté centrado */
    align-items: center; /* Alineación vertical */
}



.product-card {
    max-width: 400px;
    border: none;
    overflow: hidden; /* Asegura que todo se quede dentro de los bordes redondeados */
    box-shadow: none; /* Elimina cualquier sombra */
}

.product-image {
    width: 100%; /* Hace que la imagen cubra todo el ancho del contenedor */
    height: 200px; /* Altura fija para las imágenes */
    object-fit: cover; /* Asegura que la imagen cubra el espacio sin distorsionarse */
}

.product-info {
    padding: 10px; /* Espacio dentro de la información del producto */
    text-align: center; /* Centra el texto */
}



@media (max-width: 430px) {
    .catalog-container {
        grid-template-columns: 1fr; /* Solo una columna en pantallas estrechas */
    }

    
}

