.lens-detail-container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
    position: relative;
}

.lens-images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;

    text-align: center;
    position: relative;
    max-height: 800px;
    width: 100%;

}

.lens-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 500px; /* Limitar el ancho máximo del contenedor */
    margin-bottom: 30px;
}

.main-image, .color-main-image {
    width: 100%; /* La imagen ocupará todo el ancho del contenedor */
    max-width: 100%; /* Asegura que no sobrepase el contenedor */
    height: 300px; /* Permitir que la altura se ajuste automáticamente */
    object-fit: contain; /* Mantener la proporción de la imagen */
}

.additional-images {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    gap: 10px;
    overflow-x: auto;
    overflow-y: hidden; /* Asegura que no haya barra de desplazamiento vertical */
    scrollbar-width: none; /* Para Firefox */
}

.additional-images::-webkit-scrollbar {
    display: none; /* Para Chrome, Safari y Opera */
}

.additional-image {
    width: 100%;
    max-width: 100px;
    height: 100px;
    opacity: 0.7;
    cursor: pointer;
    border-radius: 5px;
    transition: opacity 0.3s;
    object-fit: contain;
}

.additional-image:hover {
    opacity: 1;
}

.nav-button {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 0 20px 30px;
    border-color: transparent transparent transparent #FFA800;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    padding: 0;
    z-index: 10;
    transition: opacity 0.3s, border-color 0.3s;
}

.prev-button {
    left: -20px; /* Posición ajustada para mantener dentro del contenedor */
    transform: translateY(-50%) rotate(180deg); /* Gira para apuntar a la izquierda */
    top: 180px;
}

.next-button {
    right: -20px; /* Posición ajustada para mantener dentro del contenedor */
    top: 180px;
}

.nav-button:hover {
    border-color: transparent transparent transparent #e68900; /* Cambia al pasar el mouse */
}

.lens-info {
    flex: 1;
    padding: 20px;
    margin-left: 20px;
    max-width: 90vw;
}

.lens-info-title-container {
    display: flex;
    width: 100%;
    position: relative;
    left: 49%;
}

.lens-info h3 {
    font-size: 1.2em;
    color: #262626;
}

.color-options {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-bottom: 20px;
}

.color-image {
    width: 80px;
    height: 80px;
    cursor: pointer;
    border-bottom: 3px solid transparent; /* Default no border */
    transition: border-color 0.3s;
}

.hidden {
    display: none;
}

.color-image.selected {
    border-bottom: 3px solid #FFA800; /* Amarillo para la selección */
}

.find-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #FFA800;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
}

.find-button:hover {
    background-color: #e68900;
}


.lens-info p {
    font-size: 1em;
    line-height: 1.5;
    color: #262626;
    margin-bottom: 20px;
}

.lens-info ul {
    list-style: none;
    padding: 0;
}

.lens-info ul li {
    margin-bottom: 10px;
}

.lens-info ul li strong {
    color: #262626;
}

.recommendations {
    padding-top: 20px;
    border-top: 2px solid #FFA800;
    width: 100%;
    margin-bottom: 20px;
}

@media (max-width: 950px) {
    .prev-button {
        top: 150px;
    }
    
    .next-button {
        top: 150px;
    }

    .lens-detail-container {
        flex-direction: column;
    }

    .lens-info-title-container {
        left: -30px;
    }

    .lens-info {
        padding: 0;
        margin-left: 0;
        border-left: none;
        margin-top: 20px;
    }
}
